.al-card {
    box-shadow: 0px 1px 10px 3px #dedede;
}

.al-table-length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

.al-table-length .al-table-select {
    width: auto;
    display: inline-block;
}

.al-table-length .al-table-input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
}

.al-table-info {
    padding-top: .85em;
}

.al-table-paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.al-table-paginate .pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.cursor-pointer {
    cursor: pointer !important;
}

/* .card {
    --bs-card-border-width: 0px !important;
} */


/* .notification-item {
    padding: 10px 12px;
    border-bottom: 1px solid #f0f0f0;
}

.notification-item h6,
.notification-item p {
    line-height: 1.4;
    margin-bottom: 4px;
    white-space: normal;
    word-break: break-word;
}  */


 .notification-item {
    display: block;
    /* padding: 12px 15px; */
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

.notification-item:hover {
    background-color: #f9f9f9;
} 

 .notification-item h6,
 .notification-item p {
    line-height: 1.4;
    /* margin-bottom: 4px; */
    white-space: normal;
    word-break: break-word;
}

